<!DOCTYPE html>
<html ng-app="app" ng-csp>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/ext/parse.min.js"></script>
    <script src="js/ext/angular.min.js"></script>
    <script src="js/ext/angular-ui-router.min.js"></script>
    <script src="js/ext/ui-bootstrap-tpls.min.js"></script>
    <script src="js/ext/angular.audio.js"></script>
    <script src="../jquery.min.js"></script>
    <script src="js/app.js"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body dir="{{text.direction}}">
<header ng-controller="MenuCtrl">
    <div class="header text-center">
        <span>{{text.productName}}</span>
        <button type="button"
                class="close"
                tooltip-placement="{{text.start}}"
                tooltip="{{text.close}}"
                ng-click="closePopup()"
                aria-label="{{text.close}}">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="locale-container">
            <div class="locale-btn pull-right" ng-hide="locale === 'en'" ng-click="setLocale('en')">EN</div>
            <div class="locale-btn pull-left" ng-hide="locale === 'he'" ng-click="setLocale('he')">HE</div>
        </div>
    </div>
    <div class="menu clearfix">
        <div class="menu-item col-xs-4"
             ui-sref="{{mi.name}}"
             ui-sref-active="active"
             ng-repeat="mi in menuItems">
            <div class="icon {{mi.name}}"></div>
            <div class="text">{{mi.text}}</div>
        </div>
    </div>
    <div class="modal-bg in" ng-show="notifierEnabled">
        <img class="spaceFromRight" src="images/medal.png">
        <span class="closeNotifier" aria-hidden="true" ng-click="closeNotifier(false)">&times;</span>
        <div class="displayLabels spaceFromRight displaySubtitleOne">{{thanksTitle}}</div>
        <label class="displayLabels spaceFromRight">{{thanksSubtitleOne}}</label>
        <label class="displayLabels spaceFromRight">{{thanksSubtitleTwo}}</label>
    </div>
</header>
<ui-view class="main-view"></ui-view>
<div class="modal-bg in" ng-show="successModal || generalError"></div>
<div class="modal success-modal" ng-show="successModal && !opinionModal ? true: false">
<!--<div class="modal success-modal" ng-show="true">-->
    {{text.dearUser}}
    <h2>{{text.reportSuccessMessage}}</h2>
    <a class="my-reports-link" ui-sref="myReports" ng-click="successModal=false">{{text.trackReportAction}}</a>
    <h5 class="emailUpdateTitle">{{text.leaveYourEmail}}</h5>
    <input type="text" placeholder="Enter your email address" class="emailGiven">
    <button class="close-btn" ng-click="closePopup()">{{text.close}}</button>
    <div class="user-opinion" ng-click="opinionModal = true">{{text.yourOpinion}}</div>
</div>
<div class="modal opinion-ui" ng-show="opinionModal ? true : false" ng-controller="SurveyCtrl">
    <div id="exitSurvey" dir="{{text.direction}} == 'ltr' ? 'rtl' : 'ltr'" ng-click="closeSurvey()">&times;</div>
    <h6>{{text.yourOpinionTitle}}</h6>
    <div>
        <h5>{{text.yourOpinionHowMuchHelped}}</h5>
        <div class="HelpRadiosSection">
            <div>
                <input type="radio" id="radio01" class="radioBtnHelpLvl" name="helpLevel" value="1" required/>
                <label for="radio01"><span></span></label>
                <input type="radio" id="radio02" class="radioBtnHelpLvl" name="helpLevel" value="2" required/>
                <label for="radio02"><span></span></label>
                <input type="radio" id="radio03" class="radioBtnHelpLvl" name="helpLevel" value="3" required/>
                <label for="radio03"><span></span></label>
                <input type="radio" id="radio04" class="radioBtnHelpLvl" name="helpLevel" value="4" required/>
                <label for="radio04"><span></span></label>
                <input type="radio" id="radio05" class="radioBtnHelpLvl" name="helpLevel" value="5" required/>
                <label for="radio05"><span></span></label>
            </div>
            <div>
                <span class="helpLevel">{{text.helpLevelOne}}</span>
                <span class="seperatorTypeOne"></span>
                <span class="helpLevel">{{text.helpLevelFive}}</span>
            </div>
        </div>
    </div>
    <div>
        <h5>{{text.yourOpinionAge}}</h5>
        <div>
            <input type="radio" id="radio06" class="radioBtnAge" name="age" value="{{text.ageOptionOne}}" required/>
            <label for="radio06"><span></span>{{text.ageOptionOne}}</label>
            <span class="seperatorTypeTwo"></span>
            <input type="radio" id="radio07" class="radioBtnAge" name="age" value="{{text.ageOptionTwo}}" required/>
            <label for="radio07"><span></span>{{text.ageOptionTwo}}</label>
        </div>
        <div>
            <input type="radio" id="radio08" class="radioBtnAge" name="age" value="{{text.ageOptionThree}}" required/>
            <label for="radio08"><span></span>{{text.ageOptionThree}}</label>
            <span class="seperatorTypeThree"></span>
            <input type="radio" id="radio09" class="radioBtnAge" name="age" value="{{text.ageOptionFour}}" required/>
            <label for="radio09"><span></span>{{text.ageOptionFour}}</label>
        </div>
        <div>
            <input type="radio" id="radio10" class="radioBtnAge" name="age" value="{{text.ageOptionFive}}" required/>
            <label for="radio10"><span></span>{{text.ageOptionFive}}</label>
            <span class="seperatorTypeThree"></span>
            <input type="radio" id="radio11" class="radioBtnAge" name="age" value="{{text.ageOptionSix}}" required/>
            <label for="radio11"><span></span>{{text.ageOptionSix}}</label>
        </div>
    </div>
    <div>
        <h5>{{text.yourOpinionPlace}}</h5>
        <div>
            <input type="radio" id="radio12" class="radioBtnPlace" name="place" value="{{text.placeOne}}" required/>
            <label class="block" for="radio12"><span></span>{{text.placeOne}}</label>
            <input type="radio" id="radio13" class="radioBtnPlace" name="place" value="{{text.placeTwo}}" required/>
            <label class="block" for="radio13"><span></span>{{text.placeTwo}}</label>
            <input type="radio" class="radioBtnPlace" id="radio14" name="place" value="{{text.placeThree}}" required/>
            <label class="block" for="radio14"><span></span>{{text.placeThree}}</label>
            <input type="radio" class="radioBtnPlace" id="radio15" name="place" value="{{text.placeFour}}" required/>
            <label class="block" for="radio15"><span></span>{{text.placeFour}}</label>
            <input type="radio" class="radioBtnPlace" id="radio16" name="place" value="{{text.placeFive}}" required/>
            <label class="block" for="radio16"><span></span>{{text.placeFive}}</label>
            <input type="radio" class="radioBtnPlace" id="radio17" name="place" value="{{text.placeSix}}" required/>
            <label class="block" for="radio17"><span></span>{{text.placeSix}}</label>
            <input type="radio" class="radioBtnPlace" id="radio18" name="place" value="{{text.placeSeven}}" required/>
            <label class="block" for="radio18"><span></span>{{text.placeSeven}}</label>
        </div>
    </div>
    <input id="yes" type="radio" name="radioButton" value="Yes">
    <input id="no" type="radio" name="radioButton" value="No">
    <input ng-disabled="sendingReport" id="submitSurvey" type="submit"
           value="{{sendingReport?text.sending:text.send}}" ng-click="sendSurveyAnswers()">
</div>
<div ng-show="generalError" class="modal error-modal">
    <button type="button"
            class="close"
            ng-click="generalError = null"
            aria-label="{{text.close}}">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="error-modal-content">
        <i class="fa fa-exclamation-circle fa-5x"></i>

        <h2>{{text.failedSendingReport}}</h2>
        {{generalError | error}}
    </div>
</div>
</body>
</html>