@import "fonts";
@import "angular-csp";
@import "rtl";

$active-tab-background: #002832;
$header-red: #E63E2E;
$image-background: darken(white, 20%);
$reports-bg-color: #F2F2F2;
$tzar-font: "Almoni Tzar AAA", "Almoni DL AAA", serif;
$dl-font: "Almoni DL AAA", serif;
$min-width: 320px;


html, body {
  min-width: $min-width;
  height: 590px;
  font-family: $dl-font;
  font-weight: normal;
  font-size: 14pt;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

.displayLabels{
  display: block;
  color: $header-red;
  text-align: center;
  position: relative;
  padding-right: 80px;
  bottom: 80px;
  font-size: 30pt;
  line-height: 0.6;
}

.spaceFromRight{
  margin-right: 10px;
}

.displaySubtitleOne{
  color: white;
  font-size: 18pt;
  margin-bottom: 5px;
}

.header {
  font-family: $tzar-font;
  font-weight: 200;
  font-size: 20pt;
  padding: 5px;
  background-color: $header-red;
  color: white;
  line-height: 35px;
  height: 40px;
  .close {
    color: white;
    opacity: 1;
    font-weight: 100;
    font-size: 20pt;
    position: relative;
    z-index: 1;
  }
}

.main-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 116px;
  bottom: 0;
  overflow: auto;
}

.locale-container{
  position: absolute;
  top: 4px;
  left: 7px;
  right: 7px;
  font-size: 16pt;
}
.locale-btn {
  cursor: pointer;
}

.userInteraction-container{
  position: absolute;
  right: 37px;
  top: 4px;
  font-size: 12pt;
  z-index: 1;
  //width: 0px;
  //height: 0px;
  cursor: pointer;
}

.menu {
  font-family: $tzar-font;
  font-weight: 200;
  .menu-item {
    $gradient-grey: darken(white, 20%);
    $gradient-size: 10%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, $gradient-grey 0%, #ffffff $gradient-size, #ffffff (100% - $gradient-size), $gradient-grey 100%);
    .icon {
      height: 39px;
      width: 40px;
      background-repeat: no-repeat;
      margin: 0 auto;
      &.settings {
        background: url("../images/hero.png");
      }

      &.report {
        background: url("../images/report.png");
      }

      &.myReports {
        background: url("../images/list.png");
      }
    }

    &.active {
      background: $active-tab-background;
      color: white;
      position: relative;

      .icon {
        &.heroes {
          background: url("../images/hero-selected.png");
        }

        &.report {
          background: url("../images/report-selected.png");
        }

        &.myReports {
          background: url("../images/list-selected.png");
        }
      }
      &::after {
        background: url("../images/arrow.png");
        content: '';
        width: 20px;
        height: 5px;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: -5px;
      }
    }
  }
}

.social-btns {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  .fa {
    color: $active-tab-background;
    padding: 0 10px;
  }
}

.my-reports {
  padding: 20px 5px;
  background-color: $reports-bg-color;

  .reports-loading {
    text-align: center;
    .fa {
      color: $header-red
    }
  }
  .no-reports {
    text-align: center;
  }
  .error-message {
    text-align: center;
    color: $header-red;
  }

  .appreciationSection{
    text-align: center;
    .appreciationBody{
      .labelMargin{
        margin-right: 15px;
        margin-left: 15px;
      }
      .iconsProperties{
        width: 87px;
        height: 87px;
        text-align: center;
        font-size: 24pt;
        color: $header-red;
      }
      .casesIcon{
        background: transparent url("../images/cases.png") no-repeat;
      }
      .peopleIcon{
        background: transparent url("../images/people.png") no-repeat;
      }

    }
  }
}

.report-item {
  $time: 0.3s;
  position: relative;
  &, * {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
  }
  border: 1px solid grey;
  border-radius: 5px;
  padding: 170px 0 20px;

  margin-bottom: 20px;
  background-color: #ffffff;
  .screenshot {
    position: absolute;
    background-color: $image-background;
    height: 150px;
    width: 100%;
    text-align: center;
    top: 20px;
    left: 0;
    body[dir="rtl"] & {
      right: 0;
      left: inherit;
    }

    img {
      height: 150px;
      max-width: 100%;
    }
  }
  table {
    width: 100%;
    tr td:first-child {
      padding: 5px 10px;
      text-align: start;
      width: 150px;
      vertical-align: top;
      font-weight: bold;
    }
  }

  p{
    width: 200px;
  }

  span{
    width: 200px;
  }

  .extra-message {
    padding: 0 20px;
  }

  &.closed {
    padding: 20px 0 20px 70px;
    body[dir="rtl"] & {
      padding: 20px 70px 20px 0;
    }
    .screenshot {
      height: 50px;
      width: 70px;
      margin: -25px 0 0;
      top: 50%;
      img {
        height: 50px;
      }
    }
    table tr td {
      line-height: 1.2em;
      &:first-child {
        padding: 0 10px;
        text-align: start;
        width: 120px;
        font-weight: bold;
      }
    }

  }

  .report-status {
    color: $header-red;
    font-weight: bold;
  }

}

.coming-soon {
  text-align: center;
}

.report-form {
  //text-align: center;
  padding: 10px 0 30px;

  .screenshotTitle{
    text-align: center;
    margin-bottom: 15px;
  }

  .screenshot {
    margin-bottom: 20px;
    background-color: $image-background;
    height: 150px;

    img {
      height: 150px;
      max-width: 100%;
    }
  }
  .taking-screenshot {
    padding-top: 25px;
  }
  .comment {
    padding: 5px;
    margin-bottom: 3px;
    textarea {
      font-size: 14pt;
      min-height: 70px;
      max-height: 70px;
      min-width: 100%;
      max-width: 100%;
    }
  }

  .submit {
    $size: 90px;
    font-family: $tzar-font;
    font-weight: 100;
    font-size: 14pt;
    border: none;
    background: transparent url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin: 18px;
  }
  .submitDiv{
    text-align: center;
    padding-top: 10px;
    margin-top: 5px;
    height: 30px;
  }

  /* ROUNDED TWO */
  .suicidalThreatCheckbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    bottom: 19px;
    padding-right: 7px;
    padding-left: 7px;
    background: #fcfff4;

    //background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    //background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    //background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    //background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    //background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, red 30%, darkred 100%, red 30%);
    background: -moz-linear-gradient(top, red 30%, darkred 100%, red 30%);
    background: -o-linear-gradient(top, red 30%, darkred 100%, red 30%);
    background: -ms-linear-gradient(top, red 30%, darkred 100%, red 30%);
    background: linear-gradient(top, red 30%, darkred 100%, red 30%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 20px auto;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
  }

  .suicidalThreatCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    left: 3px;
    top: 3px;

    //-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    //-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    //box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    //background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    //background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    //background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    //background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    //background: linear-gradient(top, #222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, white 0%, white 100%);
    background: -moz-linear-gradient(top, white 0%, white 100%);
    background: -o-linear-gradient(top, white 0%, white 100%);
    background: -ms-linear-gradient(top, white 0%, white 100%);
    background: linear-gradient(top, white 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
  }

  .suicidalThreatCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 2px solid red;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .suicidalThreatCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.6;
  }

  .suicidalThreatCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .suicidalThreatCheckbox input[type=checkbox] {
    display: none;
  }
// ================== //

  .suicidalThreatDiv{
    height: 0px;
    width: 310px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .suicidalThreatSpan{
    display: inline-block;
    position: relative;
    bottom: 44px;

  }

}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $active-tab-background;
  z-index: 100;
  &.in {
    opacity: 0.9;
  }

  .closeNotifier{
    font-size: 40pt;
    color: white;
    position: relative;
    margin-right: 105px;
    bottom: 165px;
    cursor: pointer;
  }
}

.modal {
  z-index: 110;
  display: block;
}

.urgentModal{
  margin-top: 160px;
  color: $image-background;

  .exitDistressCase{
    font-size: 20pt;
    height: 7px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    bottom: 40px;
    cursor: pointer;
  }

  h4{
    text-align: center;
    margin-bottom: 30px;
  }

  input[type="submit"]{
    $size: 90px;
    font-family: $tzar-font;
    font-weight: 100;
    font-size: 14pt;
    border: none;
    background: url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin: 4px 115px 0px 115px;
  }

  textarea{
    font-size: 14pt;
    color: black;
    min-width: 88%;
    max-width: 88%;
    visibility: hidden;
  }

  .block{
    display: block;
    margin: 0px 40px 0px 40px;
    font-size: 13pt;
    position: relative;
    bottom: 23px;
    line-height: 12px;
    width: 250px;
  }

  .fringes{
    margin: 0px 20px 0px 20px;
  }

  #submitUrgent{
    background: red;
    color: white;
    border: none;
  }

  #cancelUrgent{
    background: green;
    color: white;
    border: none;
  }
}

.error-modal-content {
  text-align: center;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 180px;
}

.error-modal {
  color: #ffffff;
  font-size: 14pt;
  .close {
    color: white;
    opacity: 1;
    font-weight: 100;
    font-size: 80px;
    margin: -20px 10px 0;
  }
}

.success-modal {
  font-weight: 100;
  color: #ffffff;
  font-size: 16pt;
  padding-top: 125px;
  text-align: center;

  .emailUpdateTitle{
    margin-top: 40px;
  }
  .emailGiven{
    width: 310px;
    text-align: center;
    color: black;
  }

  .my-reports-link {
    margin-top: 20px;
    &, &:hover, &:active, &:visited {
      color: #ffffff;
      text-decoration: underline;
      font-size: 14pt;
    }
  }
  .close-btn {
    $size: 90px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 47px;
    font-family: $tzar-font;
    font-weight: 200;
    font-size: 22pt;
    border: none;
    display: block;
    margin: auto;
    color: $active-tab-background;
    background-color: #ffffff;
    height: $size;
    width: $size;
    line-height: $size;
    border-radius: 50%;
  }
  .user-opinion{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    text-decoration: underline;
    cursor: pointer;
  }
}

.opinion-ui{
  color: $image-background;

  .block{
    display: block;
  }

  h6{
    text-align: center;
    margin-bottom: 20px;
    line-height: 1px;
  }

  h5{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    line-height: 1px;
  }

  div{
    padding-left: 20px;
    padding-right: 20px;
  }

  label{
    font-size: 12pt;
    font-weight: 400;
  }

  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label {
    color: $image-background;
  }

  input[type="radio"] + label span {
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width:12px;
    height:12px;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
  }

  input[type="radio"] + label span {
    background-color:$active-tab-background;
    border: 2px solid $image-background;
  }

  input[type="radio"]:checked + label span{
    background-color:$image-background;
  }

  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    -webkit-transition:background-color 0.4s linear;
    -o-transition:background-color 0.4s linear;
    -moz-transition:background-color 0.4s linear;
    transition:background-color 0.4s linear;
  }

  #exitSurvey{
    font-size: 20pt;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }

  .HelpRadiosSection{
    padding-left: 50px;
    padding-right: 50px;
  }

  .helpLevel{
    font-size: 12pt;
  }

  .seperatorTypeOne{
    margin: 20px;
  }

  .seperatorTypeTwo{
    padding: 66px;
  }

  .seperatorTypeThree{
    padding: 64px;
  }

  #submitSurvey{
    $size: 90px;
    font-family: $tzar-font;
    font-weight: 100;
    font-size: 14pt;
    border: none;
    background: transparent url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin-right: 115px;
    margin-left: 115px;
  }

}

.profile{
  .anonymousDecision{
    background: url("../images/yes-icon.png");
    width: 85px;
    height: 45px;
    cursor: pointer;
  }
  .directEmailDecision{
    background: url("../images/no-icon.png");
    width: 85px;
    height: 45px;
    cursor: pointer;
  }

  .marginTypeOne{
    margin: 48px;
  }

  .marginTypeTwo{
    margin: 49px;
  }
  
  .marginTypeThree{
    margin: 20px;
  }

  .design{
    margin-bottom: 10px;
  }

  #submitSettings{
    $size: 90px;
    font-family: $tzar-font;
    font-weight: 100;
    font-size: 14pt;
    border: none;
    background: transparent url("../images/main-button.png") no-repeat;
    background-size: $size $size;
    width: $size;
    height: $size;
    color: #ffffff;
    margin-right: 115px;
    margin-left: 115px;
  }
}



