<div class="my-reports">
    <div class="reports-loading" ng-show="loading">
        <h1>{{text.loadingReportList}}</h1>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
    <div class="error-message" ng-show="!loading && error">
        <h1>{{text.failedLoadingReports}}</h1>
        {{error|error}}
    </div>
    <div class="no-reports" ng-show="reports && reports.length === 0">{{text.noReportsMessage}}</div>
    <div class="appreciationSection" ng-show="!loading">
        <div class="appreciationTitle">
            <h4>{{text.dearUser}}</h4>
            <h4>{{text.appreciationTitle}}</h4>
            <h4>{{text.appreciationSubTitle}}</h4>
        </div>
        <div class="appreciationBody">
            <label class="labelMargin">{{text.youHelpedTo}}</label><label class="labelMargin">{{text.youRemoved}}</label>
            <label class="labelMargin iconsProperties peopleIcon">{{distressCounter}}</label>
            <label class="labelMargin iconsProperties casesIcon">{{violentContentCounter}}</label>
            <label class="labelMargin">{{text.peopleInNeed}}</label><label class="labelMargin">{{text.violentContents}}</label>
        </div>
    </div>
    <div class="report-items">
        <div class="report-item"
             ng-repeat="report in reports"
             ng-class="{closed:openedItem !== $index}"
             ng-click="$parent.openedItem = $index">
            <div class="screenshot">
                <img ng-show="report.screenshot" ng-src="{{report.screenshot}}" alt="Screenshot"/>
            </div>
            <table>
                <tr class="status-mini" ng-hide="openedItem === $index">
                    <td>{{text.reportStatus}}</td>
                    <td><span class="report-status">{{report.status.Status}}</span></td>
                </tr>
                <tr class="create-date">
                    <td>{{text.reportOpeningDate}}</td>
                    <td>{{report.time | date:'shortDate'}}</td>
                </tr>
                <tr class="report-id">
                    <td>{{text.reportId}}</td>
                    <td>{{report.reportID}}</td>
                </tr>
                <tr class="status" ng-show="openedItem === $index">
                    <td>{{text.reportStatus}}</td>
                    <td>
                        <span class="report-status">{{report.status.Status}}</span>

                        <p ng-show="report.status.PubStatus">{{report.status.PubStatus}}</p>
                    </td>
                </tr>
                <tr class="status" ng-show="openedItem === $index">
                    <td>{{text.systemMessage}}</td>
                    <td>
                        <p ng-show="report.status.SystemMessage">{{report.status.SystemMessage}}</p>
                    </td>
                </tr>
            </table>
            <!--<div class="extra-message" ng-show="openedItem === $index">{{report.status.SystemMessage}}</div>-->
        </div>
    </div>
</div>