<div class="report-form">
    <form ng-submit="sendReport()">
    <!--<form ng-submit="performSending()">-->
        <div class="screenshotTitle">{{text.screenshotSuccess}}</div>
        <div class="screenshot">
            <img ng-show="reportData.screenCaptureBase64png"
                 ng-src="{{reportData.screenCaptureBase64png}}"
                 alt="Screenshot"/>

            <div ng-hide="reportData.screenCaptureBase64png" class="taking-screenshot">
                <i class="fa fa-camera fa-4x"></i>

                <p> {{text.takingScreenshot}} </p>
            </div>
        </div>
        <div class="comment">
            <textarea class="form-control" type="text"
                      ng-model="reportData.comment"
                      placeholder="{{text.commentPlaceholder}}" maxlength="1000"></textarea>
        </div>
        <div class="suicidalThreatDiv">
            <div class="suicidalThreatCheckbox">
                <input type="checkbox" value="None" id="suicidalThreatCheckbox" name="check" />
                <label for="suicidalThreatCheckbox"></label>
            </div>
            <span class="suicidalThreatSpan">{{text.IsSuicidalThreat}}</span>
        </div>
        <div class="submitDiv">
            <input ng-disabled="sendingReport" class="submit" type="submit"
                   value="{{sendingReport?text.sending:text.send}}">
        </div>
    </form>
    <div class="modal-bg in" ng-show="urgentModal">
        <div class="urgentModal">
            <div class="exitDistressCase" dir="{{text.direction}} == 'ltr' ? 'rtl' : 'ltr'" ng-click="closeDistressDialog()">{{text.back}}</div>
            <h4>{{text.UrgentReportTitle}}</h4>
            <input type="radio" class="fringes" name="urgentType" ng-click="closeDescriptionBox()" />
            <label class="block">{{text.urgentTypeOne}}</label>
            <input type="radio" id="radioSuicidalThreat" class="fringes" name="urgentType" ng-click="closeDescriptionBox()" />
            <label class="block">{{text.urgentTypeTwo}}</label>
            <input type="radio" class="fringes" name="urgentType" ng-click="closeDescriptionBox()" />
            <label class="block">{{text.urgentTypeThree}}</label>
            <input type="radio" class="fringes" name="urgentType" ng-click="openDescriptionBox()" />
            <label class="block">{{text.urgentTypeFour}}</label>
            <textarea id="urgentTxt" class="fringes"
                      placeholder="{{text.urgentDescription}}" maxlength="1000"
                     ></textarea>
            <div>
                <input ng-disabled="sendingReport" type="submit"
                       value="{{sendingReport?text.sending:text.send}}"
                        ng-click="performSending()">
            </div>
        </div>
    </div>
    <div class="social-btns">
        <a href="http://redbutton.org.il/" target="_blank"><i
                class="fa fa-home"></i></a>
        <a href="https://www.youtube.com/channel/UCJyjLGNAk0OBXnLtnWGumOg" target="_blank"><i
                class="fa fa-youtube"></i></a>
        <a href="https://plus.google.com/u/1/b/100070474767356918183/100070474767356918183" target="_blank"><i
                class="fa fa-google-plus"></i></a>
        <a href="https://twitter.com/" target="_blank"><i
                class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/pages/The-Red-Button/432411806812404" target="_blank"><i
                class="fa fa-facebook"></i></a>
    </div>
</div>