<div class="profile" ng-controller="SettingsCtrl">
    <h4>{{text.stayAnonymous}}</h4>
    <div class="anonymousDecision" ng-click="changeAnonymousDecision()"></div>
    <div ng-show="ArePersonalDetailsOpened">
        <div class="design">
            <span class="marginTypeOne">{{text.name}}</span> <input id="nameTxt" type="text"/>
        </div>
        <div class="design">
            <span class="marginTypeTwo">{{text.age}}</span> <input id="ageTxt" type="text"/>
        </div>
        <div class="design">
            <span class="marginTypeThree">{{text.place}}</span> <input id="placeTxt" type="text"/>
        </div>
    </div>
    <h4>{{text.directEmail}}</h4>
    <div class="directEmailDecision" ng-click="changeEmailDecision()"></div>
    <div class="design" ng-show="isEmailBoxOpened">
        <span class="marginTypeThree">{{text.email}}</span> <input id="emailTxt" type="text"/>
    </div>
    <div>
        <input ng-disabled="sendingReport" id="submitSettings" type="submit"
               value="{{sendingReport?text.sending:text.send}}" ng-click="sendSettings()">
    </div>
</div>